form#gamw-admin-settings div.js-form-item {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
form#gamw-admin-settings div.js-form-item .description {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}
form#gamw-admin-settings div#breakpoint-wrapper .js-form-type-select {
  display: inline-block;
}
form#gamw-admin-settings div#breakpoint-wrapper .js-form-type-select select {
  height: 300px;
  width: 150px;
}
