form#gamw-admin-settings {
  div.js-form-item {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    .description {
      background-color: rgb(238, 238, 238);
      padding: 10px;
      border-radius: 5px;
      width: fit-content;
    }
  }
  div#breakpoint-wrapper {
    .js-form-type-select {
      display: inline-block;
      select {
        height: 300px;
        width: 150px;
      }
    }
  }
}